<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" routerLink="listadoP">Listado de peliculas</a>
    </li>
  
      <li class="nav-item">
        <a class="nav-link active" routerLink="agregarP">Agregar reseña</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink="calificarP">Calificar Peliculas</a>
      </li>

      <form class="mx-auto d-flex barra_busqueda">
        <input class="form-control me-2 inputRegistro mt-2" type="search" placeholder="Busca una pelicula">
        <button class="btn btn_navbar mt-2">
            <i class="fas fa-search"></i>
        </button>
      </form>
             
    </ul>
  