
<div class="container containerHome col-8 mt-5">
    <div class="row d-flex align-items-center justify-content-center">
      
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl">
    
          <h1>¡Bienvenido a MoviReseña!</h1>
          <h4 class="mt-3">En esta aplicación podras ver y escribir reseñas de peluculas</h4>
        
          <button type="button" routerLink="login" class="btn btn-outline-light btnLogin ">Registrarte</button>
          <button type="button" routerLink="login" class="btn btn-outline-light btnLogin mx-4 ">Iniciar sesión</button>
      </div>

      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="./assets/peli.png" class="imagenlogin" alt="...">
    </div>
    </div>
  </div>

