<div class="card card-registro col-7">
    <img src="./assets/encabezado (1).png" class="imagenRegistro" alt="...">
    <form [formGroup]="formulario" (ngSubmit)="Guardar()" class="col-7 formRegistro mt-4"> 
        <div class="mb-3">
            <label  class="form-label">Nombre pelicula</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="nombrePelicula">
          </div>

          <div class="mb-3">
            <label  class="form-label">Año de estreno</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="anioEstreno">
          </div>

          <div class="mb-3">
            <label  class="form-label">Genero</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="genero">
          </div>

          <div class="mb-3">
            <label  class="form-label">Calificación</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="cal">
          </div>


          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Sinopsis</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" formControlName="sinopsis"></textarea>
          </div>

          
          <button type="submit" class="btn btn-outline-light btnRegistro">Agregar pelicula</button>
    </form>
    
</div>

