<div class="card-tabla col-5">
<div> <h1>Listado de peliculas</h1></div>
 
    <div>
        <table class="table table-peli mt-5">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Calificación</th>
                <th scope="col">Más información</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><!-- Button trigger modal -->
                  <button type="button" class="btn  btn-listado" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Información
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content modal-lista">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        
                      </div>
                    </div>
                  </div></td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>
