.card-tabla{
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: azure;
}




thead{
    background-color: #C412A4;
    color: azure;
}

.imagentabla{
    height: 100%;
    width: 100%;
}

.btn-listado{
    color: #ffffff; 
    border: 3px solid #4509acf3 ;
    text-decoration: none; 
    border-radius: 50px; 
}
td{
        color: rgb(253, 253, 253);
}

.btn-listado:hover{
    background: #4509acd2;
    color: azure;
}

.modal-lista{
    background-color: #4509acd2;
}

.modal-title{
    color: azure;
}